{% include "header_main_nologin.html" %}
    <h1>{{ title }}</h1>
    <p><a href=/about/>Return</a></p>
    <div class="nocenter">
        {{ content|safe }}
    </div>
{% include "footer_main.html" %}
