body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, p {
    color: #FFFFFF;
}

table {
    color: #FFFFFF;
    padding: 4pt;
    margin: 0;
}

td {
    border-top: 1pt;
    border-top-color: #FFFFFF;
    border-top-style: solid;
}

td p {
    margin: 0pt;
    padding: 2pt;
}

.navbar, .navbar a {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar .active {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #999999;
    color: #000000;
}

.dropdown-content a:hover {
    background-color: #999999;
}

.dropdown .dropbtn {
    color: #000000;
}

.dropdown-content {
    background-color: #FFFFFF;
}
