body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.content {
    margin: 4pt;
}

.navbar {
    overflow: hidden;
    margin: 0;
}

.navbar a {
    float: right;
    font-size: 16px;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 12px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 40pt;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
