<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            {% include "base.css" %}
            {% include "{}".format(theme) %}
        </style>
    </head>
    <body>
        <div class="navbar">{% for i in navbar["navbar"] %}
            
            {% if i["dropdown"] == "True" %}
            <div class="dropdown">
                <button class="dropbtn">{{ i["text"] }}</button>
                <div class="dropdown-content">{% for o in i["options"] %}
                    <a href="{{ o["link"] }}">{{ o["text"] }}</a>{% endfor %}
                </div>
            </div>{% else %}
            <a href="{{ i["link"] }}">{{ i["text"] }}</a>{% endif %}
        {% endfor %}</div>
        
        <h2>{{ title }}</h2>
