<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            {% include "base.css" %}
            {{ theme["themecss"]|safe }}
        </style>
    </head>
    <body>
        <div class="navbar">
            <ul>{% for item in navbar["content"] %}
                {% if item["type"] == "dropdown" %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ item["text"] }}</a>
                    <div class="dropdown-content">{% for option in item["options"] %}
                        <a href="{{ option["link"] }}">{{ option["text"] }}</a>
                    {% endfor %}</div>
                </li>
                {% elif item["type"] == "link" %}
                <li><a href={{ item["link"] }}>{{ item["text"] }}</a></li>
                {% elif item["type"] == "logo" %}
                <li><img src={{ theme["logo"] }} width="48" height="48"></li>
        {% endif %}{% endfor %}</ul>
        </div>
        <h2>{{ title }}</h2>
