{% include "docs_header.jinja2" %}
        <table width="100%">
            <tr>
                <th width="70%">File</th>
                <th width="5%">Type</th>
                <th width="15%">Modified</th>
                <th width="10%">Size</th>
            </tr>
        {% for item in contents %}<tr>
                <td><a href={{ item["file"] }}><p>{{ item["file"] }}</p></a></td>
                <td><p style="text-align: center">{{ item["type"] }}</p></td>
                <td><p style="text-align: center">{{ item["mod"] }}</p></td>
                <td><p style="text-align: center">{{ item["size"] }}</p></td>
            </tr>
        {% endfor %}</table>
{% include "docs_footer.jinja2" %}
