        <hr>
        <h5>CAMS - Computer Asset Management System<br><a href="/about/">About</a><br>CrazyblocksTechnologies Computer Laboratories 2022-2023<br>This page just uses one cookie for the purpose of storing login information</h5>
    </body>
</html>
