h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.nocenter h1, .nocenter h2, .nocenter h3, .nocenter h4, .nocenter h5, .nocenter h6 {
    text-align: left;
}
a.btn {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
textarea {
    width: 100%;
    max-width: 100%;
    resize: vertical;
}
dd {
    margin: 0pt;
    margin-inline-start: 0pt;
}
.halfform {
    width: 50%;
}
form {
    margin: 4pt;
}
form p {
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 4pt;
}
section {
    margin: 4pt;
}
.center {
    text-align: center;
}
