h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #FFFFFF;
}
body {
    background-color: #000000;
    font-family: "arial";
}
a {
    color: #0000FF;
    text-decoration: underline;
}
p, label {
    font-size: 12pt;
    color: #FFFFFF;
}
code {
    color: #FFFFFF;
}
hr {
    border-color: #FF0000;
}

button.btn, input.btn {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    padding: 10px 24px;
    cursor: pointer; 
    width: 100%; 
    display: block;
    margin: 1px;
}

a.btn {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}
tr:nth-child(even) {
    background-color: #CCCCCC;
}
.red {
    color: #FF0000;
}
textarea {
    width: 100%;
    max-width: 100%;
    rows: 20;
    resize: vertical;
}
