h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #FFFFFF;
}
body {
    background-color: #000000;
    font-family: "arial";
}
a {
    color: #FF0000;
/*    text-decoration: underline; */
}
p, code, label {
    font-size: 12pt;
    color: #FFFFFF;
}
hr {
    border-color: #FF0000;
}
input, textarea, button, select {
    font-size: 12pt;
    padding: 6pt 0;
    width: 100%; 
    max-width: 100%;
    margin: 6pt;
    border: 0;
}
button.btn, input.btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 0;
    padding: 6pt;
    margin: 6pt 0;
    width: 100%; 
    max-width: 100%;
    display: block;
    text-decoration: none;
    cursor: pointer; 
}
a.btn {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}
tr:nth-child(even) {
    background-color: #CCCCCC;
}
.red {
    color: #FF0000;
}
textarea {
    width: 100%;
    max-width: 100%;
    resize: vertical;
}
dd {
    margin: 0pt;
    margin-inline-start: 0pt;
}
.halfform {
    margin: 2pt;
    width: 50%;
}
li {
    color: #FFFFFF;
}
