{% include "styling/base/normalize.css" %}
{% include "styling/base/base.css" %}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}
body {
    background-color: #000000;
    font-family: "arial";
}
a {
    color: #FF0000;
    text-decoration: none;
}
p, code, label, li {
    font-size: 12pt;
    color: #FFFFFF;
}
hr {
    border-color: #FF0000;
}
input, textarea, button, select {
    font-size: 12pt;
    padding: 6pt 0;
    width: 100%; 
    max-width: 100%;
    margin: 4pt;
    border: 0;
    background-color: #FFFFFF;
}
button.btn, input.btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 0;
    padding: 0;
    margin: 4pt 0;
    width: 100%; 
    max-width: 100%;
    display: block;
    text-decoration: none;
    cursor: pointer; 
}
.select2-search {
    background-color: #000000;
}
.select2-container, .select2, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin: 4pt;
    color: #000000;
    padding: 0;
    background-color: #FFFFFF;
    border: 0;
}
.select2-container--default .select2-results {
    background-color: #000000;
}
.select2-selection__arrow b{
    display: none !important;
}
ul.select2-choices {
    padding-right: 30px !important;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}
tr:nth-child(even) {
    background-color: #CCCCCC;
}
.red {
    color: #FF0000;
}
